header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: fixed;
  z-index: 1;
}

img {
  max-height: 80px;
}

nav ul {
  list-style: none;
  display: flex;


}

nav ul li:not(:last-child) {
  margin-right: 30px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

nav a {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

nav a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  margin-left: 37px;
  background-color: #fecc00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

/* nav li:nth-of-type(5) a::after {
  all: unset;
} */

nav a:hover::after {
  width: 30px;
}

nav li:nth-of-type(5) a {
  padding: 0.5em 1em;
  background: #cbcbcb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

nav li:nth-of-type(5) a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


nav ul li a:hover {
  color: #fecc00;
}

/* End of navbar styles */

.hero {
  background: #f8f8f8;
  padding: 0 10%;
  display: flex;
  align-items: center;
  height: 600px;
  margin-top: 100px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Poppins';
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 40px;
}

.hero-content .btn-box {
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background: #fecc00;
  border: 2px solid #fecc00;
  border-radius: 30px;
  font-size: 19px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Poppins';
  z-index: 0;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #fecc00;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #fecc00;
}

.btn-box a:nth-child(2):hover {
  color: #f8f8f8;
}

.btn-box a:nth-child(2)::before {
  background: #fecc00;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 1300px;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  max-height: 600px;
}

.floating-icon {
  background-color: #fecc00;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  margin-top: 3rem;
  transform: translateX(-50%);
  cursor: pointer;
}

.floating-icon a {
  border: 1px solid #fff;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  transform: translateY(-25%);
  animation: bounce .8s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(25%);
  }
}

/* End of hero section styles*/

.features {
  margin-top: 5rem;
  padding-top: 20px;
  padding-bottom: 80px;
}

.features-content {
  display: flex;
  justify-content: center;
}

.features-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  width: 900px;
}

.features-left img {
  margin-top: -65px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 700px;
}

.features-right {
  flex: 1;
  padding-right: 150px;
}

@media screen and (max-width:600px) {
  .features-content {
    flex-direction: column;
  }
  .features-left{
    flex-direction: column;
    margin-left: -180px;
  }
  .features-right{
    flex-direction: column;
    margin-top: 50px;
    margin-left: 90px;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Poppins';
  line-height: 1.4;
  color: #fecc00;
  margin: 1.5rem 0;
}

.title p {
  width: 50%;
  min-width: 40rem;
  margin: 0 auto;
  font-family: 'Poppins-light';

}

/* End of features styles*/


.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

}

.feature-icon {
  position: relative;
  margin-right: 2rem;
}

.inner-icon {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translateX(-50%, -50%);
}

.feature-text h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  color: black;
}
.feature-text p {
  font-size: 14px;
  color:#555;
  font-family: 'Poppins-light';
  line-height: 1.4;

}


/* End of feature section styles */

.container-card {
  margin-top: 150px;

}

.form {
  padding-right: 100px;
}

.form-section {
  background-color: #fafafa;
  padding: 80px 0;

}

.form-container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-group {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-family: 'Poppins-medium';
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="url"],
.form-group textarea {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Poppins-light';
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="url"]:focus,
.form-group textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group input[type="submit"] {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-group input[type="submit"]:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.form-group input[type="submit"]:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media only screen and (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form {
    margin-left: 20%;
  }
}

/* End of form section styles*/

.photos2 {
  margin-bottom: 4rem;
  margin-top: 2rem;

}

@media screen and (max-width: 500px) {
  .container-design {
    max-width: 458px;

  }
}

.selected-image {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.photos {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.custom-file-upload {
  display: inline-block;
  background-color: #d5d0d0;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #fecc00;
}

.custom-file-upload span {
  font-family: 'Poppins-light';
  margin-left: 10px;
}

/* End of background card images styles*/

.social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.social-media-card:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

.social-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #eee;
  color: #555;
  font-size: 25px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.social-media-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
}

.social-media-handle {
  font-size: 14px;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  font-family: 'Poppins-light';
}

@media screen and (max-width: 500px) {
  .social-media-card {
    margin: 10px 0;
  }
}

/* End of social networks section styles*/

.row {
  display: flex;
  flex-wrap: wrap;
}


@media only screen and (max-width: 500px) {
  .preview {
    width: 100%;
  }

}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  word-wrap: break-word;

}


.square {
  width: 150px;
  height: 150px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 80%;
}

.square-logo,
.circle-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-preview {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
  word-break: break-all;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.card-subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-text {
  margin-bottom: 0.25rem;
  font-family: 'Poppins-light';
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 'auto';
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* End of preview card styles */