.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet {
  background-color: #333333;
}

/* Estilos para la paginación del Swiper */

header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: fixed;
  z-index: 1;
}

img {
  max-height: 84px;
}

.nav1 ul {
  list-style: none;
  display: flex;


}

.nav1 ul li:not(:last-child) {
  margin-right: 30px;
}

.nav1 ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

.nav1 a {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

.nav1 a::after {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  margin: 0 auto;
  margin-left: 37px;
  background-color: #fecc00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

.nav1 li:nth-of-type(5) a::after {
  all: unset;
}

.nav1 a:hover::after {
  width: 30px;
}

.nav1 li:nth-of-type(5) a {
  padding: 0.5em 1em;
  background: #cbcbcb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transiton: 0.3s ease-in-out
}

.nav1 li:nth-of-type(5) a:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


.nav1 ul li a:hover {
  color: #fecc00;
}

/* End of navbar styles*/

.nav2-container {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.4rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

.nav2-container a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: white;
  font-size: 1.1rem;
  width: 3.33rem;
  padding-left: 1.1rem;
}

.nav2-container a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.nav2-container a.active {
  background: #fecc00;
  color: white;
}

/*End of styles de navbar2*/

.footer {
  background-color: #333333;
  padding: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fecc00;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan en múltiples líneas */
}

.footer-box-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-box-links {
  display: flex;
  gap: 30px;
}

.subscribe-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 100px;
  margin-top: 23px;
}

.subscribe-box input[type='email'] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.subscribe-box-send {
  font-size: 20px;
  color: #fff;
  background-color: #555555;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
}

.subscribe-box-info {
  margin-top: 10px;
}

/* Reglas para pantallas más pequeñas */
@media (max-width: 768px) {
  .footer-box {
    justify-content: center;
    /* Centra los elementos en pantallas pequeñas */
    text-align: center;
    /* Centra el texto en pantallas pequeñas */
  }

  .subscribe-box {
    margin-right: 0;
    /* Elimina el margen derecho en pantallas pequeñas */
    margin-bottom: 20px;
    /* Agrega un margen inferior en pantallas pequeñas */
  }

  .subscribe-box input[type='email'] {
    width: 100%;
    /* Ajusta el ancho del input al 100% en pantallas pequeñas */
  }
}

/* End of footer styles */

.hero {
  background: #f8f8f8;
  padding: 0 10%;
  display: flex;
  align-items: center;
  height: 600px;
  margin-top: 100px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Poppins';
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 40px;
}

.hero-content .btn-box {
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background: #fecc00;
  border: 2px solid #fecc00;
  border-radius: 30px;
  font-size: 19px;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'Poppins';
  z-index: 0;
  overflow: hidden;
  transition: .5s;
}

.btn-box a:hover {
  color: #fecc00;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #fecc00;
}

.btn-box a:nth-child(2):hover {
  color: #f8f8f8;
}

.btn-box a:nth-child(2)::before {
  background: #fecc00;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 1300px;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  max-height: 600px;
}

/* End of hero section styles*/

.titulo-page {
  width: 52vw;
}

@media screen and (max-width:600px) {
  .titulo-page {
    width: 85vw;
  }
}


.features {
  margin-top: 5rem;
  padding-top: 20px;
  padding-bottom: 80px;
}

.features-content {
  display: flex;
  justify-content: center;
}

.features-left {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 500px;
  width: 900px;
}

.features-left img {
  margin-top: -65px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 700px;
  max-width: 700px;
}

.features-right {
  flex: 1;
  padding-right: 150px;
}

@media screen and (max-width:600px) {
  .features-content {
    flex-direction: column;
  }

  .title p {
    padding-right: 200px;
    padding-left: 50px;
  }

  .features-left {
    flex-direction: column;
    margin-left: -200px;
    margin-top: 50px;
  }

  .features-right {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 100px;
  }
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Poppins';
  line-height: 1.4;
  color: #fecc00;
  margin: 1.5rem 0;
}

.title p {
  width: 50%;
  min-width: 40rem;
  margin: 0 auto;
  font-family: 'Poppins-light';

}


.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;

}

.feature-icon {
  position: relative;
  margin-right: 2rem;
}

.inner-icon {
  position: absolute;
  top: 28%;
  left: 30%;
  transform: translateX(-50%, -50%);
}

.feature-text h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
  color: black;
}

.feature-text p {
  font-size: 14px;
  color: #555;
  font-family: 'Poppins-light';
  line-height: 1.4;

}

/* End of feature section styles */

.proceso-paso-a-paso {
  text-align: center;
  margin: 20px;
  margin-top: -100px;

}

.titulo-paso-a-paso {
  color: #fecc00;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.pasos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.paso {
  position: relative;
  display: flex;
  align-items: center;
  width: 700px;
  margin: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.paso:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 237, 56, 0);
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.paso:hover {
  transform: translateY(-5px);
}

.paso-titulo {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333333;
}

.paso-descripcion {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Poppins-light';
  color: #666666;
}

.paso-imagen {
  width: 300px;
  max-height: 300px;
  margin-right: 20px;
  object-fit: contain;
}

.paso-contenido {
  flex-grow: 1;
}

.imagen-izquierda {
  flex-direction: row;
}



/*End of stepbystep styles*/

.container-examples {
  width: 100%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-example {
  width: 298px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  height: 405px;
  margin-left: 10.5vw;
}

.card-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position-x: right;
}

.card-info {
  padding: 20px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.card-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins';
  margin: 0;
}

.container-examples p {
  width: 100%;
  max-width: 40rem;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container-examples p {
    font-size: 1rem;
    max-width: 100%;
  }
}

/*End of example-cards style*/

.faq-section {
  padding: 40px;
}

.faq-heading {
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Poppins';
  line-height: 1.4;
  color: rgb(254, 204, 0);
  margin: 1rem 0px;
}

.faq-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.faq-items {
  display: grid;
  gap: 20px;
}

.faq-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.expand-button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.expand-button:hover {
  transform: scale(1.1);
}

.faq-answer {
  color: #666;
  line-height: 1.5;
  font-family: 'Poppins-light';
  margin-top: 10px;
}

.expanded .faq-answer {
  display: block;
}

.faq-answer {
  display: none;
}

/*end od faq styles*/

.wave-background {
  position: relative;
  margin-top: 90px;
}

.wave-background svg {
  position: absolute;
  bottom: 109px;
  left: -20px;
  width: 1519px;
  height: 338px;
  width: 100%;
  height: auto;
}

.promotion-link {
  background-color: white;
  color: #fecc00;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Poppins';
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.promotion-link:hover {
  background-color: #333333;
  color: white;
}

/*end of promotion styles*/

.container-card {
  margin-top: 150px;
}

.form-section {
  background-color: #fecc00;
  padding: 80px 0;
}

.form-container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 20px;

  margin-left: 20px;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-group {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-family: 'Poppins-medium';
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="url"],
.form-group textarea {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Poppins-light';
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="url"]:focus,
.form-group textarea:focus {
  border-color: #fecc00;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 204, 0, 0.25);
}


@media screen and (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="url"],
  .form-group textarea {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {

  .form-container {
    margin-right: 10px;
  }

  .form-toggle {
    max-width: 725px;
    width: auto;
    margin-left: -60px;
  }

  .form-toggle-text {
    font-size: 18px;
  }

  .form-toggle-button {
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
  }

  .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="url"],
  .form-group textarea {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {

  .form-container {
    margin-right: 10px;
  }

  .titulo-page {
    width: 90vw;
  }

  .form-toggle {
    max-width: 625px;
    width: auto;
    margin-left: -60px;
  }

  .form-toggle-text {
    font-size: 18px;
  }

  .form-toggle-button {
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 290px)and (max-width: 550px) {

  .form-container {
    margin-right: 10px;
  }

  .titulo-page {
    width: 85vw;
  }

  .form-toggle {
    max-width: 425px;
    width: auto;
    margin-left: -60px;
  }

  .form-toggle-text {
    font-size: 18px;
  }

  .form-toggle-button {
    width: 24px;
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
  }
}

.form-toggle {
  display: flex;
  width: 800px;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #fecc00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-toggle:hover {
  background-color: #fecc00;
  color: #fff;
}

.form-toggle-text {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.form-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #fecc00;
  border-radius: 50%;
  font-size: 20px;
  color: #fecc00;
  transition: all 0.3s ease-in-out;
}

.form-toggle-button:hover {
  background-color: #fecc00;
  color: #fecc00;
  transform: scale(1.1);
}


/* End of form section styles*/

.photos2 {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {

  .form-container {
    width: 80%;
    margin: 0 auto;
  }

  .row {
    flex-wrap: wrap;
  }

  .col-md-6 {
    width: 100%;
    margin: 0;
  }

  .photos2 {
    margin-top: 2rem;
    max-width: 200px;
  }

  .borderbox {
    margin-left: 0;
    width: 100%;
  }

  .qr_bg_wrapper li {
    width: 23%;
  }

  .square {
    width: 60px;
    height: 60px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-size: cover;
  }

  .container-design {
    max-width: 500px;
    margin: 0 auto;
  }

  .selected-image {
    width: 100%;
    height: 200px;
    background-size: cover;
  }

  .colors {
    margin-top: 2rem;
    width: 200px;
  }

  .photos {
    margin-top: 2rem;
    width: 200px;
  }
}

.selected-image {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.photos {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.custom-file-upload {
  background-color: #e6e6e6;
  color: #333333;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.custom-file-upload:hover {
  background-color: #333333;
  color: #ffffff;
}

.custom-file-upload input[type=file] {
  display: none;
}

.custom-file-upload span:hover .cloud-icon {
  transform: translateY(-5px) rotate(20deg);
  transition: transform 0.2s ease-in-out;
}

/* End of background card images styles*/

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
}

.social-media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.social-media-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.social-media-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 15pt;
  cursor: pointer;
  color: #545454;
  background-color: #e8eef2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.input-container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.social-media-name {
  margin-top: 8px;
  margin-bottom: 0;
}

.social-media-handle {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  font-family: 'Poppins-light';
  color: #666666;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.social-media-handle:focus {
  border-color: #fecc00;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 204, 0, 0.25);
}

.remove-button {
  background-color: #fecc00; /* Color de fondo */
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.remove-button:hover {
  background-color: #fde06d; /* Color de fondo al pasar el mouse */
}

.remove-button:focus {
  outline: none; /* Elimina el contorno al hacer clic */
}

.remove-button .icon {
  margin-right: 5px;
}

.remove-button .icon path {
  fill: white; /* Color del icono */
}

/* Animación */
@keyframes removeButtonAnimation {
  0% {
    transform: scale(1); /* Escala inicial */
  }
  50% {
    transform: scale(1.2); /* Escala intermedia */
  }
  100% {
    transform: scale(1); /* Escala final */
  }
}

.remove-button {
  animation: removeButtonAnimation 0.3s linear; /* Aplica la animación al botón */
}


.social-icons-container {
  margin-top: .5rem !important;
  display: flex !important;
}

.social-icon {
  width: 26px;
  height: 16px;
  margin-right: 2px;
}

.social-icon-wrapper {
  margin-right: 2px;
  /* Espacio entre los iconos */
  margin-bottom: 10px;
  /* Espacio entre las filas de iconos */
}

@media screen and (max-width: 700px) {
  .social-media-card {
    margin-bottom: 50px;
    max-width: none;
    flex-basis: 100%;
  }
}

/* End of social networks section styles*/

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .preview {
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
  }
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-right: -10px;
  word-wrap: break-word;

}

.square {
  width: 60px;
  height: 70px;
  display: inherit;
  margin-left: 55px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 80%;
  margin-left: 79px;
}

.square-logo,
.circle-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-preview {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
  word-break: break-all;
  padding-right: -20px;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.card-subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-text {
  margin-bottom: 0.25rem;
  font-family: 'Poppins-light';
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 'auto';
  margin-top: 38rem;
  padding-bottom: 5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.button-download {
  background-color: #fecc00;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  /* Espacio entre los botones */
}

.button-download:hover {
  background-color: #e0b402;
}

.button-download:nth-child(1) {
  background-color: #fecc00;
  /* Color original del primer botón */
}

.button-download:nth-child(1):hover {
  background-color: #e0b402;
  /* Cambio de color al pasar el ratón por encima del primer botón */
}

.button-download:nth-child(2) {
  background-color: #fecc00;
  /* Cambio de color para el segundo botón */
}

.button-download:nth-child(2):hover {
  background-color: #e0b402;
  /* Cambio de color al pasar el ratón por encima del segundo botón */
}











.phone-preview {
  background-image: url('./assets/img/preview_bg.png');
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 539px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  position: relative;
  z-index: 0;
}

.phone-preview-bg {
  position: absolute;
  content: " ";
  border-radius: 25px;
  width: 230px;
  height: 504px;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.item-container {
  overflow: auto;
  height: 450px;
  /* Ajusta la altura para dejar espacio para la imagen */
  border-radius: 20px;
}

.item-container::-webkit-scrollbar {
  display: none;
}

.item-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.text-center {
  text-align: center !important;
}

.img-wrap {
  padding-top: 8px;
  padding-bottom: 3px;
}

.img-body {
  width: 60px;
  height: 60px;
  /* Dimensiones del círculo */
  border-radius: 80%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.img-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 80%;
  margin-left: 79px;
}

.square {
  width: 70px;
  height: 64px;
  margin-left: 2rem;
}

.square-logo,
.circle-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card2-body {
  flex: 1 1 auto;
  margin-top: -2px;
  min-height: 1px;
  margin-bottom: 12px;
}

.p-0 {
  padding: 4 !important;
}

.card2-title {
  font-size: 12px;
}

.text-white {
  color: #fff !important;
}

.card-subtitle {
  margin-bottom: 0;
  font-size: 10px;
  margin-top: .375rem;
}

.mb-2,
.my-2 {
  margin-bottom: .5rem !important;
}

.vcard-functions {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 18px;
  /* Margen superior negativo para compensar */
  height: 29px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  padding: 0 10px;
  position: sticky;
  top: 0;
}

.vcard-functions-wrapper {
  display: flex;
  margin: 0 auto;
  height: 24px;
  text-align: center;
}

.vcard-functions-wrapper a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0;
  min-width: 50px;
  margin: 0;
  flex: 1 1;
  font-size: 8px;
  border-right: 1px solid hsla(0, 0%, 100%, .15);
  text-decoration: none;
}

.dynamicText {
  color: white;
  font-size: 10px;
}

.qr-phone-call {
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-inline: 2px;
}

.small {
  font-size: .875em;
  font-weight: 400;
}

.mr-1,
.mx-1 {
  margin-right: .25rem !important;
}

.details-row {
  border-top: 1px solid #dee2e6;
  position: relative;
  padding: 10px 0 10px 10px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  background-color: #e8eef2;
  display: flex;
  flex-wrap: wrap;
}

.details-row a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
  flex-basis: 100%;
  word-break: break-all;
  /* Agrega esta propiedad */
}

.details-row small {
  color: #333;
}

.w-100 {
  width: 100% !important;
}

.details-info {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
}

.vCard-socials {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
}

.social-media-container {
  grid-gap: 8px;
  gap: 8px;
  margin: 0 16px;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 67px;
  max-width: 750px;
}

@media screen and (min-width: 550px) and (max-width: 750px) {
  .social-media-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 590px;
  }

  .social-media-item {
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 750px) and (max-width: 1150px) {
  .social-media-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 780px;
  }

  .social-media-item {
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 290px)and (max-width: 550px) {
  .social-media-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 8px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 400px;
  }

  .social-media-item {
    flex: 0 0 auto;
  }
}

.nav-outer {
  margin: 0 24px;
  background: transparent;
  height: 36px;
}

.nav-outer.left {
  left: 0;
}

.qr-angle-left {
  font-weight: 700;
  color: #404040;
  font-size: 14px;
  cursor: pointer;
}

.qr-angle-left:before {
  content: "\e9a3";
}

.btn-item {
  padding: 10px 14px;
  width: 46px;
  height: 46px;
  border-radius: 3px;
  font-size: 15pt;
  cursor: pointer;
  color: #545454;
  background-color: #e8eef2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-2,
.my-2 {
  margin-bottom: .5rem !important;
}

.d-flex {
  display: flex !important;
}

.nav-outer.right {
  right: 0;
}

/* End of preview card styles */